@charset "utf-8";

/* ====================
  共通
  ===================== */
.common-inner {
  margin: auto;
  padding: 0 4%;
}

.section {
  padding: 100px 0 40px;
}

.section-title {
  position: relative;
  margin-bottom: 50px;
  font-style: italic;
  font-weight: bold;
  color: #fff;
}

.section-title::after {
  content: "";
  display: inline-block;
  margin-left: 30px;
  width: 90px;
  height: 4px;
  vertical-align: middle;
  background-color: #fff;
}

.section-title-R {
  text-align: right;
}

.section-title-black {
  color: #000;
}

.section-title-black::after {
  background-color: #000;
}

.section-bottom {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
}

.bottom-black {
  text-align: right;
  color: rgba(0, 0, 0, 0.1);
}

.section-bottom::after {
  content: "";
  display: block;
  clear: both;
}

/* メインボタン */
.primary-btn {
  margin: 30px auto 40px;
  text-align: center;
}

.send-btn {
  margin-top: 80px;
  padding: 0;
  background: transparent;
  border: none;
}

.primary-btn a,
.send-btn {
  display: inline-block;
  padding: 0 20px;
  min-width: 235px;
  height: 60px;
  background-color: #f7d43f;
  box-shadow: 0 0 2px #000;
  border-radius: 30px;
  font-weight: bold;
  color: #000;
  text-align: center;
  line-height: 60px;
}

/* ====================
    font-size（スマホ）
===================== */
.fontsize-SS {
  font-size: 12px;
}

.fontsize-S {
  font-size: 14px;
}

.fontsize-M {
  font-size: 16px;
}

.fontsize-L,
.fontsize-L2 {
  font-size: 20px;
}

.fontsize-LL {
  font-size: 26px;
}

.fontsize-XL,
.fontsize-XL-2 {
  font-size: 30px;
}

/* ====================
  ヘッダー
  ===================== */
.header {
  position: absolute;
  width: 100%;
  z-index: 97;
}

.header-inner {
  min-width: 320px;
  margin: auto;
  padding: 30px 4%;
}

.header-logo {
  display: inline-block;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1;
}

/* ====================
  fv
  ===================== */
.top-fv {
  position: relative;
  height: 100vh;
}

.slider {
  line-height: 0;
}

.slide-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  height: 100vh;
}

.slide01 {
  background-image: url(../img/fv-bgi_01@2x.jpg);
}

.slide02 {
  background-image: url(../img/fv-bgi_02@2x.jpg);
}

.slide03 {
  background-image: url(../img/fv-bgi_03@2x.jpg);
}

.fv-inner {
  position: relative;
  max-width: 1200px;
  max-width: auto;
}

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.header-title {
  margin-bottom: 50px;
  font-size: 37px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.03em;
  text-align: center;
}

.header-text {
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.04em;
  text-align: center;
}

/* ====================
  concept
  ===================== */
.concept-summary {
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.concept-text {
  margin-bottom: 30px;
  font-weight: bold;
}

.concept-image img {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  object-position: bottom;
}

/* ====================
  Works
  ===================== */
.works-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.works-item {
  max-width: 320px;
  width: 92%;
  box-shadow: 0 0 2px #fff;
}

.works-item:not(:last-child) {
  margin-bottom: 30px;
}

.works-item:last-child {
  margin-bottom: 50px;
}

.works-image img {
  max-width: 320px;
  width: 100%;
  height: 200px;
}

.works-text {
  min-height: 134px;
  padding: 20px;
  background-color: #fff;
}

.works-bg {
  background-image: url(../img/works-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
}

/* ====================
    Service
  ===================== */
#service {
  overflow: hidden;
}

.service-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.service-item {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.service-item1 {
  background-image: url(../img/service-img01@2x.jpg);
}

.service-item2 {
  background-image: url(../img/service-img02@2x.jpg);
}

.service-item3 {
  background-image: url(../img/service-img03@2x.jpg);
}

.service-item:not(:last-child) {
  margin-bottom: 30px;
}

.service-item a {
  display: inline-block;
  width: 100%;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.05em;
  line-height: 250px;
  text-align: center;
}

.service-item a::before {
  transition: 0.2s;
}

.service-item a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* ====================
Contact  
  ===================== */
.contact-bg {
  background-image: url(../img/contact-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}

.contact-text {
  text-align: center;
  color: #fff;
}

/* ====================
  フッター
  ===================== */
.copy-right {
  padding: 30px 0;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
}

/* ====================
  Contactページ
  ===================== */
.contact-fv {
  position: relative;
  background-image: url(../img/contact-page-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  min-height: 360px;
  height: 32vw;
}

.contact-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1em;
  text-align: center;
}

.contact-bottom {
  position: absolute;
  bottom: 10%;
}

/* ====================
  コンタクトフォーム  
  ===================== */
.contact-form {
  max-width: 700px;
  margin: auto;
}

.form-parts {
  display: block;
  margin-bottom: 22px;
}

.parts-label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  line-height: 1;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  display: block;
  padding: 5px;
  width: 100%;
  padding: 4px;
  border: 1px solid #333;
  font-size: 16px;
}

.checkbox-box {
  margin-top: 13px;
}

textarea {
  display: block;
  padding: 10px;
  width: 100%;
  height: 170px;
  box-sizing: border-box;
  border: 1px solid #333;
  font-size: 16px;
  resize: none;
}

input[type="submit"] {
  border: none;
}

.send-btn {
  display: block;
  margin: 80px auto 40px;
  font-weight: normal;
}

@media screen and (max-width: 767px) /* スマホ */ {
  /* ====================
  ハンバーガーメニュー（スマホ）
  ===================== */
  .bars {
    position: absolute;
    top: 30px;
    right: 4%;
    height: 20px;
    width: 30px;
    z-index: 99;
  }

  .bar {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s;
  }

  .bar-center {
    top: 9px;
  }

  .bar-bottom {
    bottom: 0;
  }

  .bar-top.active {
    top: 8px;
    transform: rotate(45deg);
  }

  .bar-center.active {
    transform: scaleX(0);
  }

  .bar-bottom.active {
    bottom: 10px;
    transform: rotate(135deg);
  }

  /* ====================
  グローバルナビ（スマホ）
  ===================== */
  html.noscroll {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .gnav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #282f35;
    z-index: 98;
  }

  .gnav.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
  }

  .gnav-item {
    margin-bottom: 10px;
    text-align: center;
  }

  .gnav-item a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    transition: 0.2s;
  }

  .gnav-item a:hover {
    color: #666;
  }
}

@media screen and (min-width: 768px) /* タブレット・PC */ {
  /* ====================
   共通（タブレット・PC）
    ===================== */
  * {
    float: none;
    position: static;
  }

  .common-inner {
    max-width: 1000px;
  }

  .header-inner {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section {
    padding-bottom: 70px;
  }

  .section-bottom {
    margin-top: 70px;
    font-size: 90px;
  }

  /* ====================
    font-size（タブレット・PC）
    ===================== */
  .fontsize-L,
  .fontsize-XL {
    font-size: 40px;
  }

  .fontsize-XL-2 {
    font-size: 60px;
  }
  /* ====================
    ヘッダー・fv（タブレット・PC）
    ===================== */
  .header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #282f35;
    transition: all 0.8s;
  }

  .header-box {
    left: 4%;
    transform: none;
  }

  .header-title {
    margin-bottom: 23px;
    font-size: 70px;
    letter-spacing: 0.1em;
    text-align: left;
  }

  .header-text {
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.04em;
  }

  .sp-br {
    display: none;
  }

  /* ====================
    concept（タブレット・PC）
    ===================== */
  .concept-summary {
    margin-bottom: 60px;
  }

  .concept-box {
    display: flex;
    justify-content: space-between;
  }

  .concept-text {
    margin-bottom: 0;
  }

  .concept-text,
  .concept-image {
    max-width: 440px;
    width: 48.5%;
  }

  /* ====================
    contactページ（タブレット・PC）
  ===================== */
  .contact-fv {
    min-height: 450px;
  }

  /* ====================
   ハンバーガーメニュー（タブレット・PC）
  ===================== */
  .bars {
    display: none;
  }

  /* ====================
   グローバルナビ（タブレット・PC）
  ===================== */
  .gnav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .gnav-item:not(:last-child) {
    margin-right: 30px;
  }

  .gnav-item a {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    transition: 0.2s;
  }

  .gnav-item a:hover {
    color: #666;
  }

  @media screen and (min-width: 960px) /* PC */ {
    /* ====================
    works（PC）
    ===================== */
    .works-list {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    .works-item {
      width: 32%;
    }

    .works-item:not(:last-child) {
      margin-bottom: 0px;
    }

    .works-item:last-child {
      margin-bottom: 0px;
    }

    .works-bg {
      background-image: url(../img/works-bgi@2x.jpg);
      background-position: center;
      background-size: cover;
    }

    /* ====================
    service（PC）
    ===================== */
    .service-list {
      flex-direction: row;
    }

    .service-item {
      height: 320px;
    }

    .service-item:not(:last-child) {
      margin-bottom: 0px;
    }

    .service-item a {
      line-height: 320px;
    }
  }
}

@media screen and (min-width: 1300px) /* PC・大画面用 */ {
  .header-box {
    left: calc(50% - 550px);
  }
}
